
*{
    font-family: inter;
    margin: 0;
     box-sizing: border-box;
}
#bannersuperior{
    background-color: #303030;
    color: #fff;
    padding: 30px;
    }
#titulosuperior{
    text-justify: initial;
    padding-top:100px ;
    font-size: 60px;
    margin-left: 25px;
    margin-top: 10px;
    font-weight: 600;
}
#textosuperior {
    font-size: 20px;
    margin-left: 25px;
    margin-top: 10px;
    padding-bottom: 100px;
}
#bannerinformativo{
    background-color: #F9F9F9;
    
}
.numerosg{
    font-size: 40px;
    font-weight: 600;
}   
#textos{
    display:flex;
    flex-wrap: initial;
    justify-content: space-around;
    font-size: 20px;
    
    align-items: center;
    padding-top: 100px;
    padding-left: 170;
    padding-bottom: 100px;
}

#bannertexto-foto{
    display: flex;
    flex-wrap: initial;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background-color: white;
    font-size: 24px;
    padding-left: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
}
#texto{
    font-weight: 300;
    padding-top: 10px;
    font-size: 24px;
}
#titulobanner{
    font-size: 40px;
    font-weight: 500;
}

#formulario{
  
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;

}
#tituloform{
    
    font-size: 32px;
    font-weight: 700;
}
input{
color: #303030;
font-size: 24px;
font-weight: 700;
width: 508px;
height: 72px;
margin-top: 50px;
border-radius: 10px;
padding-left: 20px;
}
#botao{
    margin-top: 100px;
    background-color: #C07212;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    width: 286px;
    height: 74px;
    top: 1955px;
    left: 577px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
input::placeholder{ 
    font-family: raleway;
    opacity: 0.3; 
    color: #000; 
    font-size: 24px; 
}